extends layout

block content
  h1= title

  p Active Services
  ul#alive
    each val in alive
      li=val.type+" "+val.name+" "+val.heartbeat+" "+val.tasksProcessed

  p Failing Services
  ul#failing
    each val in failing
      li=val.type+" "+val.name+" "+val.heartbeat
