extends layout

block content
  h1= title+" - "+url

  p Active Services
  ul#alive
    each val in alive
      li=val.type+" "+val.name+" "+val.url+" "+val.tasksProcessed+" "+val.backlog

  p Failing Services
  ul#failing
    each val in failing
      li=val.type+" "+val.name+" "+val.url

  p Reported Services
  ul#reported
    each val in reported
      li=val.type+" "+val.url+" "+val.reason

  script.
    setTimeout(function () { window.location.reload(); }, 1000);
